menu "Test"

config UAI_USING_TEST
    bool "Enable Test Cases" 
    default n
    select OS_USING_ATEST

if UAI_USING_TEST
    config UAI_TEST_USING_MATRIX_TC
        bool "Enable Matrix Functions Test"
        default n
        select UAI_USING_MATRIX

    config UAI_USING_AUDIO_FEATURE_TC
        bool "Enable Audio Feature Functions Test"
        default n
        select UAI_USING_AUDIO_FEATURE_FUNC
endif

endmenu