menu "Test"

config NUMDL_USING_TEST
    bool "Enable Test Cases" 
    default n
    select OS_USING_ATEST

if NUMDL_USING_TEST
    config NUMDL_TEST_USING_MATRIX_TC
        bool "Enable numDL Matrix Functions Test"
        default n
        select NUMDL_USING_MATRIX

    config NUMDL_TEST_USING_FEATURE_TC
        bool "Enable numDL Feature Functions Test"
        default n
        select NUMDL_FEATURE
endif

endmenu