menu "AI"

config USING_UAI_SDK
    bool
    default y

menu "Data"

    config UAI_USING_DATA_COLLECT
        bool "Enable Data Sample"
        select USING_UAI_SDK
        select UAI_USING_UTILS
        default n

endmenu

source "$SDK_ROOT/sdk/common/Kconfig"

source "$SDK_ROOT/sdk/feature/Kconfig"

source "$SDK_ROOT/sdk/library/Kconfig"

source "$SDK_ROOT/sdk/test/Kconfig"

endmenu
